<div class="row">
    <div class="col-lg-8">
        <p><img class="img-responsive" src="http://fillmurray.com/400/300"></p>
        <p>Pellentesque habitant morbi...</p>
        <p>Pellentesque habitant morbi...</p>
        <p>Pellentesque habitant morbi...</p>
    </div>
</div>